* {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

footer {
    /* keep on bottom of screen */
    position: fixed;
    text-align: center;
    background: #f4f4f4;
    border-top: 1px solid #ddd;
    bottom: 0px;
    margin-bottom: 0;
    width: 100%;
}

/* CSS for gallery boxes */

#gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

:root {
  --min-box-width: 200px;
  --max-box-width: 350px;
}

.box {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  overflow: hidden;
  width: calc(var(--min-box-width) + (var(--max-box-width) - var(--min-box-width)) * ((100vw - 320px) / (1200 - 320)));
  max-width: var(--max-box-width);
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.box:hover {
  transform: scale(1.05);
}

.box img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.box h3 {
  margin: 10px 0;
  font-size: 18px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 600px;
}