* {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

footer {
    /* keep on bottom of screen */
    position: fixed;
    text-align: center;
    background: #f4f4f4;
    border-top: 1px solid #ddd;
    bottom: 0px;
    margin-bottom: 0;
    width: 100%;
}